* {
    box-sizing: border-box;
}

.content {
    overflow-y: hidden;
    padding: 10px;
    margin-bottom: 10px;
}

body {
    margin: 0;
    height: 100vh; 
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    overflow: auto; 
}

header {
    text-align: center;
    background-color: hsla(207, 96%, 48%, 0.651);
    display: block;
    padding: 1px;
    box-shadow: 3px 3px 5px hsl(207, 26%, 17%);
    max-height: 120px;
    position: relative;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
}

#textInput {
    display: block;
    width: 100%;
    min-height: 100px;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    background-color: hsla(207, 54%, 88%, 0.534);
    box-shadow: 0px 0px 7px hsl(207, 90%, 94%);
    border: 1px solid;
    color: hsl(207, 90%, 5%);
    margin-top: 50px;
    border-radius: 10px;
}

#outputText {
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: hsla(207, 74%, 72%, 0.658);
    box-shadow: 0px 0px 7px hsl(207, 90%, 94%);
    border-radius: 10px;
    text-align: center;
    min-height: 40px;
    padding: 15px;
    max-width: 100%;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}

#copyContainer {
    text-align: center;
}

#buttonContainer {
    text-align: left;
    width: auto;
    height: auto;
    background-color: hsla(207, 74%, 72%, 0.658);
    padding: 10px;
    box-shadow: 0px 0px 7px hsl(207, 90%, 94%);
    border-radius: 10px;
    color: hsl(210, 10%, 25%);
    color: black;
}

.checkboxes {
    vertical-align: middle;
    cursor: pointer;
    margin-right: 8px;
}

#buttonContainer label {
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
}

#buttonContainer input {
    display: inline-block;
}

#convertBtn{
    font-size: 20px;
    border-radius: 40px;
    cursor: pointer;
    background-color: hsl(207, 90%, 54%);
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    min-width: 10%;
}

#clearBtn{
    font-size: 20px;
    border-radius: 40px;
    cursor: pointer;
    background-color: hsl(207, 90%, 54%);
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    min-width: 7.7%;
}

#copyBtn{
    font-size: 20px;
    border-radius: 40px;
    cursor: pointer;
    background-color: hsl(207, 90%, 54%);
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    min-width: 7.3%;
}

#convertBtn, #clearBtn {
    margin: 5px;
}

#convertBtn:hover, #copyBtn:hover, #clearBtn:hover {
    background-color: hsl(207, 80%, 44%);
}

#result {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: hsla(206, 56%, 53%, 0.562);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

#copyResult {
    position: fixed;
    top: 60px;
    right: 20px;
    background-color: hsla(206, 56%, 53%, 0.562);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

#inputContainer {
    text-align: center;
    width: auto;
    height: auto;
}

.switch {
    position: absolute;
    top: 5px;  
    right: 20px; 
    display: block;
    width: 40px;
    height: 22px;
    z-index: 1000;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 22px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(18px);
}


.dark-theme {
    background: hsl(207, 30%, 10%);
    color: hsl(207, 90%, 94%);
}

input:checked + .slider:before {
    transform: translateX(18px);
}

#theme-switch-label {
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    transform: translate(47%, -600%);
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 5px;
        max-height: unset;
    }

    h1 {
        font-size: 24px;
    }

    #textInput, #outputText, #buttonContainer {
        width: 90%;
        margin: auto;
    }

    footer {
        text-align: center;
    }

    .switch {
        transform: scale(0.8);
        top: 5px;
        right: 5px;
    }

    #result {
        position: absolute;
        width: 90%;
        top: 10px;
        left: 5%;
    }

    #result {
        position: absolute;
        width: 90%;
        top: 20px;
        left: 5%;
    }
}

footer {
    position: sticky;
    bottom: 0;
    text-align: end;
    font-size: 10px;
    color: hsl(210, 3%, 13%);
    background-color: hsla(207, 90%, 54%, 0.658);
    margin-bottom: 0;
    padding: 6px 5px;
    box-shadow: 3px 3px 5px hsl(207, 26%, 17%);
    height: 60px;
    width: 100%;
    z-index: 10;
}

#textInput::placeholder{
    color: black
}

.fa-solid.fa-copy {
    color: #0d0d0e;
    transform: translateX(-200%);
}

.fa-solid.fa-repeat{
    color: #0d0d0e;
    transform: translateX(-290%);
}

.fa-solid.fa-trash{
    color: #0d0d0e;
    transform: translateX(-270%);
    font-size: 16px;
}
