* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: hsla(207, 49%, 89%, 0.425);
}

.content {
    overflow-y: hidden;
    padding: 10px;
    margin-bottom: 10px;
}

.main-content {
    flex: 1;
    overflow: auto;
}

header {
    background-color: hsla(207, 96%, 48%, 0.651);
    box-shadow: 3px 3px 5px hsl(207, 26%, 17%);
    max-height: 90vh;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    text-align: center;
}

#textInput {
    display: block;
    width: 100%;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    background-color: hsla(207, 54%, 88%, 0.534);
    box-shadow: 0px 0px 7px hsl(207, 90%, 94%);
    border: 1px solid;
    color: hsl(207, 90%, 5%);
    margin-top: 50px;
    border-radius: 10px;
}

#outputText {
    background-color: hsla(207, 74%, 72%, 0.658);
    text-align: center;
    word-wrap: break-word;
    border-radius: 15px;
    padding: 10px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}

#copyContainer {
    text-align: center;
}

#buttonContainer {
    display: block;
    font-size: 17px;
    text-align: left;
    width: 20%;
    height: auto;
    background-color: hsla(207, 74%, 72%, 0.658);
    padding: 10px;
    box-shadow: 0px 0px 7px hsl(207, 90%, 94%);
    border-radius: 10px;
    color: black;
    border: 2px groove black;
    position: sticky;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.checkboxes {
    vertical-align: middle;
    cursor: pointer;
    margin-right: 8px;
}

#buttonContainer label {
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
}

#buttonContainer input {
    display: inline-block;
}

#convertBtn{
    width: calc(8em - 10px);
    background-color: hsl(207, 80%, 54%);
    margin: 5px;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    border: 1px solid;
}

#clearBtn{
    width: calc(7em - 8px);
    background-color: hsl(207, 80%, 54%);
    margin: 5px;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    border: 1px solid;
}

#copyBtn{
    width: calc(7em - 10px);
    background-color: hsl(207, 80%, 54%);
    margin: 5px;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    border: 1px solid;
}

#convertBtn:hover, #copyBtn:hover, #clearBtn:hover {
    background-color: hsl(207, 80%, 44%);
    cursor: pointer;
}

#result, #copyResult {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: hsla(206, 56%, 53%, 0.562);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

#inputContainer {
    text-align: center;
    width: auto;
    height: auto;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 5px;
        max-height: unset;
    }

    h1, h2 {
        font-size: 20px;
    }

    #textInput, #outputText, #buttonContainer {
        width: 90%;
        margin: 10px auto;
    }

    #buttonContainer {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
    }

    footer {
        text-align: center;
    }

    #result {
        position: absolute;
        width: 90%;
        top: 10px;
        left: 5%;
    }
}

#textInput::placeholder {
    color: black;
}

.fa-solid.fa-copy {
    color: #0d0d0e;
    transform: translateX(-200%);
}

.fa-solid.fa-repeat {
    color: #0d0d0e;
    transform: translate(-200%, 10%);
}

.fa-solid.fa-trash {
    color: #0d0d0e;
    transform: translateX(-270%);
    font-size: 15px;
}
